/* some exgtra css added by the HaHa project 
- numbering of headers (h1), h2, h3
- table of contents

The facilities are provided by HaHa-reader
and are not part of Dave Liepmann's CSS

*/

span.number {font-family:  et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    padding-right: 10px;}
    
div.table_of_contents  > div > a > span.number {font-size: 1.3rem;}
    
div.table_of_contents {margin-left: 25px; border-left: solid 1px black; padding: 5px;}
div.table_of_contents  > div > a {text-decoration: none; color: black; font-size: 1.3rem; background: unset; text-shadow: unset;}
div.table_of_contents  > div > a:link {text-decoration: none; color: black; font-size: 1.3rem;}
div.table_of_contents  > div > a:hover {background-color: white; color: silver;}
div.table_of_contents  > div.H_level_2 {margin-left: 12px;}
div.table_of_contents  > div.H_level_3 {margin-left: 24px;}
div.table_of_contents  > div.H_level_4 {margin-left: 36px;}
div.table_of_contents  > div.H_level_5 {margin-left: 48px;}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
span.number {color: white;}
div.table_of_contents > div > a {color: white;}
div.table_of_contents > div > a:link {color: white;}
div.table_of_contents > div > a:hover {background-color: black; color: silver;}
}

label {border-top: solid 1px; border-left: solid 1px; } 
